In [1]:
import re
import requests
import os
import streamlit as st
import openai
from dotenv import load_dotenv
# loads .env file located in the current directory
load_dotenv() 

openai.api_key = os.getenv('OPENAI_API_KEY')

In [2]:

import os
import openai


completion = openai.ChatCompletion.create(
  model="gpt-3.5-turbo",
  messages=[
    {"role": "user", "content": "Hello!"}
  ]
)

print(completion.choices[0].message)

{
  "content": "\n\nHi there! How can I assist you today?",
  "role": "assistant"
}

In [3]:
# Note: you need to be using OpenAI Python v0.27.0 for the code below to work

openai.ChatCompletion.create(
  model="gpt-3.5-turbo",
  messages=[
        {"role": "system", "content": "You are a helpful assistant."},
        {"role": "user", "content": "Who won the world series in 2020?"},
        {"role": "assistant", "content": "The Los Angeles Dodgers won the World Series in 2020."},
        {"role": "user", "content": "Where was it played?"}
    ]
)

<OpenAIObject chat.completion id=chatcmpl-6sb22Fk5fcnAQ0b3P6SdVuJIwBWY0 at 0x177176b10> JSON: {
  "choices": [
    {
      "finish_reason": "stop",
      "index": 0,
      "message": {
        "content": "The World Series in 2020 was played in Arlington, Texas at Globe Life Field, which is the home field of the Texas Rangers.",
        "role": "assistant"
      }
    }
  ],
  "created": 1678470082,
  "id": "chatcmpl-6sb22Fk5fcnAQ0b3P6SdVuJIwBWY0",
  "model": "gpt-3.5-turbo-0301",
  "object": "chat.completion",
  "usage": {
    "completion_tokens": 30,
    "prompt_tokens": 56,
    "total_tokens": 86
  }
}

In [34]:
from_sql = "SQL Server"
to_sql = "Snowflake"
sql = "SELECT getdate()"

In [35]:
openai.ChatCompletion.create(
  model="gpt-3.5-turbo",
  messages = [
  {"role": "system", "content": 'You are an expert SQL developer that is proficient in MySQL, SQL Server, Postgres and Snowflake SQL dialects.'},
  {"role": "system", "content": 'Only return the converted sql code and nothing else.'},
  {"role": "system", "content": 'Let''s think step by step.'},
  
  {"role": "user", "content": f'Convert the following {from_sql} SQL code to {to_sql}: "\n\n{sql}"'}
]
)

<OpenAIObject chat.completion id=chatcmpl-6scgjx6sIUyOB4tKngmfB4mpadnpO at 0x177665c60> JSON: {
  "choices": [
    {
      "finish_reason": "stop",
      "index": 0,
      "message": {
        "content": "Here is the equivalent of the SQL Server SQL code in Snowflake:\n\nSELECT CURRENT_TIMESTAMP();",
        "role": "assistant"
      }
    }
  ],
  "created": 1678476449,
  "id": "chatcmpl-6scgjx6sIUyOB4tKngmfB4mpadnpO",
  "model": "gpt-3.5-turbo-0301",
  "object": "chat.completion",
  "usage": {
    "completion_tokens": 20,
    "prompt_tokens": 78,
    "total_tokens": 98
  }
}

In [36]:
to_sql = "Snowflake"
sql = "SELECT getdate()"

In [45]:
to_sql = "Snowflake"
def remove_indentation(text):
    lines = text.split("\n")
    # Find the minimum indentation level in the text
    min_indent = min(len(line) - len(line.lstrip()) for line in lines if line.strip())
    # Remove the indentation by replacing it with a single space
    cleaned_lines = [line[min_indent:].strip() if line.strip() else "" for line in lines]
    # Join the cleaned lines into a single string
    cleaned_text = "\n".join(cleaned_lines)
    return cleaned_text

sql ="SELECT rt.rootid_ as Rootid, rt.Number as order_number, SU.ID, concat(SU.FirstName,' ',SU.LastName) as FullName, 'Escrow Officer' as Personnel_TypeFROM pfm_[Order] AS RT INNER JOIN pfm.Escrow AS E ON RT.RootId# =E.RootId# AND E.Id# BETWEEN RT.Id# AND RT.LastId# LEFT JOIN core.SecurityUser SU ON E.OfficerID = SU.ID UNION ALL SELECT rt.rootid# as Rootid, rt.Number as order_number, SU.ID, concat(SU.FirstName,' ',SU.LastName) as FullName, 'Escrow Assistant' as Personnel_Type FROMpfm.[Order] AS RT INNER JOIN pfm.Escrow AS E on RT.RootID# = E.RootID# AND E.Id# BETWEEN RT.ID# AND RT.LastID# LEFT JOIN core.SecurityUser SU on E.PreCloserEscrowAssistantID = SU.ID"

In [46]:
print(remove_indentation(text))

SELECT rt.rootid_ as Rootid, rt.Number as order_number, SU.ID, concat(SU.FirstName,' ',SU.LastName) as FullName, 'Escrow Officer' as Personnel_TypeFROM pfm_[Order] AS RT INNER JOIN pfm.Escrow AS E ON RT.RootId# =E.RootId# AND E.Id# BETWEEN RT.Id# AND RT.LastId# LEFT JOIN core.SecurityUser SU ON E.OfficerID = SU.ID UNION ALL SELECT rt.rootid# as Rootid, rt.Number as order_number, SU.ID, concat(SU.FirstName,' ',SU.LastName) as FullName, 'Escrow Assistant' as Personnel_Type FROMpfm.[Order] AS RT INNER JOIN pfm.Escrow AS E on RT.RootID# = E.RootID# AND E.Id# BETWEEN RT.ID# AND RT.LastID# LEFT JOIN core.SecurityUser SU on E.PreCloserEscrowAssistantID = SU.ID

In [69]:
to_sql = "Snowflake"
sql ="SELECT rt.rootid_ as Rootid, rt.Number as order_number, SU.ID, concat(SU.FirstName,' ',SU.LastName) as FullName, 'Escrow Officer' as Personnel_TypeFROM pfm_[Order] AS RT INNER JOIN pfm.Escrow AS E ON RT.RootId# =E.RootId# AND E.Id# BETWEEN RT.Id# AND RT.LastId# LEFT JOIN core.SecurityUser SU ON E.OfficerID = SU.ID UNION ALL SELECT rt.rootid# as Rootid, rt.Number as order_number, SU.ID, concat(SU.FirstName,' ',SU.LastName) as FullName, 'Escrow Assistant' as Personnel_Type FROMpfm.[Order] AS RT INNER JOIN pfm.Escrow AS E on RT.RootID# = E.RootID# AND E.Id# BETWEEN RT.ID# AND RT.LastID# LEFT JOIN core.SecurityUser SU on E.PreCloserEscrowAssistantID = SU.ID"

In [68]:
completion=openai.ChatCompletion.create(
  model="gpt-3.5-turbo",
  messages = [
  {"role": "system", "content": 'You are an expert SQL developer that is proficient in MySQL, SQL Server, Postgres and Snowflake SQL dialects.'},
  {"role": "system", "content": 'Only return the converted sql code and nothing else.'},
  {"role": "system", "content": 'Let''s think step by step.'},
  {"role": "user", "content": f'Detect the dialect of the following SQL code: "{sql}"'},
  {"role": "user", "content": f'Convert the following SQL code from detected dialect to {to_sql}: "\n\n{sql}"'}
]
)

print(completion.choices[0].message)

{
  "content": "The SQL code you provided is already compatible with Snowflake SQL dialect. \n\nIf you need to explicitly specify the Snowflake dialect, you can write the query like this: \n\n```\nSELECT * FROM \"my table\"\n```",
  "role": "assistant"
}

In [75]:
print(completion.choices)

[<OpenAIObject at 0x177d85350> JSON: {
  "finish_reason": "stop",
  "index": 0,
  "message": {
    "content": "The SQL code you provided is already compatible with Snowflake SQL dialect. \n\nIf you need to explicitly specify the Snowflake dialect, you can write the query like this: \n\n```\nSELECT * FROM \"my table\"\n```",
    "role": "assistant"
  }
}]

In [ ]:
print(completion.choices[0].message)

# Final Function form

In [63]:
messages=[
            {"role": "system", "content": 'You are an expert SQL developer that is proficient in MySQL, SQL Server, Postgres and Snowflake SQL dialects.'},
            {"role": "system", "content": 'Only return the converted sql code and nothing else.'},
            {"role": "system", "content": 'Let''s think step by step.'},
            {"role": "user", "content": f'Detect the dialect of the following SQL code: "{sql}"'},
            {"role": "user", "content": f'Convert the following SQL code from detected dialect to {to_sql}: "\n\n{sql}"'}
        ]

In [76]:
import openai

def sql_dialectify(to_sql, sql):
    completion = openai.ChatCompletion.create(
        model="gpt-3.5-turbo",
        messages=messages
    )
    return completion.choices

In [81]:
to_sql = "Snowflake"
sql = "SELECT GETDATE()"

In [82]:
result = sql_dialectify(to_sql, sql)
print(result)

[<OpenAIObject at 0x177d38d60> JSON: {
  "finish_reason": null,
  "index": 0,
  "message": {
    "content": "Here's the converted SQL code for Postgres:\n\n```\nSELECT * FROM \"my table\";\n```\n\nIn Postgres, table names with spaces or special characters need to be enclosed in double quotes. And the standard SQL syntax is to use all caps for reserved words, so I've modified the query accordingly.",
    "role": "assistant"
  }
}]

In [92]:
# Everything together

import openai

def sql_dialectify(to_sql, sql):
    completion = openai.ChatCompletion.create(
        model="gpt-3.5-turbo",
        messages=[
            {"role": "system", "content": 'You are an expert SQL developer that is proficient in MySQL, SQL Server, Postgres and Snowflake SQL dialects.'},
            {"role": "system", "content": 'Only return the converted sql code and nothing else.'},
            {"role": "system", "content": 'Let''s think step by step.'},
            {"role": "user", "content": f'Detect the dialect of the following SQL code: "{sql}"'},
            {"role": "user", "content": f'Convert the following SQL code from detected dialect to {to_sql}: "\n\n{sql}"'}
        ]
    )
    return completion.choices[0].message.content

In [93]:
to_sql = "Snowflake"
sql = "SELECT GETDATE()"

In [94]:
result = sql_dialectify(to_sql, sql)

In [95]:
print(result)

Since the SQL code you provided is not specific to any dialect, I assume it is in SQL Server (T-SQL) syntax. Here is the converted code for Snowflake:

```
SELECT CURRENT_TIMESTAMP()
```

Snowflake does not have `GETDATE()` function, so I used `CURRENT_TIMESTAMP()` instead.

In [91]:
print(completion.choices[0].message.content)

The SQL code you provided is already compatible with Snowflake SQL dialect.

If you need to explicitly specify the Snowflake dialect, you can write the query like this:

```
SELECT * FROM "my table"
```

Security - Encode and decode

In [96]:
# Define a function to encode field and table names in a SQL query
def encode_sql(sql):

In [99]:
sql="Select GetDate()"
encoded=encode_sql(sql)
field_dict=encoded[1]
print(encoded)
print(field_dict)

('__0__ __1__()', {'Select': '__0__', 'GetDate': '__1__'})
{'Select': '__0__', 'GetDate': '__1__'}

In [100]:
decode_sql(sql, field_dict)

'Select GetDate()'

Another mask approoch - Only the field and table/view names are masked

In [110]:
import re

def encode_sql(sql):
    # Find all field, table, and view names using regex
    fields = set(re.findall(r'\b\w+\.\w+\b', sql))
    tables = set(re.findall(r'\bFROM\s+(\w+)\b', sql, flags=re.IGNORECASE))
    views = set(re.findall(r'\bJOIN\s+(\w+)\b', sql, flags=re.IGNORECASE))

    # Replace each name with a unique mask value
    for i, field in enumerate(fields):
        sql = sql.replace(field, f'MASK_FIELD_{i}')
    for i, table in enumerate(tables):
        sql = sql.replace(table, f'MASK_TABLE_{i}')
    for i, view in enumerate(views):
        sql = sql.replace(view, f'MASK_VIEW_{i}')

    return sql

def decode_sql(encoded_sql, field_masks, table_masks, view_masks):
    # Replace each mask value with its corresponding name
    for i, mask in enumerate(field_masks):
        encoded_sql = encoded_sql.replace(f'MASK_FIELD_{i}', mask)
    for i, mask in enumerate(table_masks):
        encoded_sql = encoded_sql.replace(f'MASK_TABLE_{i}', mask)
    for i, mask in enumerate(view_masks):
        encoded_sql = encoded_sql.replace(f'MASK_VIEW_{i}', mask)

    return encoded_sql

In [112]:
# Example SQL query
sql = 'SELECT users.name, orders.amount FROM users JOIN orders ON users.id = orders.user_id WHERE orders.status = "complete"'

# Encode the SQL query
encoded_sql = encode_sql(sql)

# Print the encoded SQL query
print(encoded_sql)

# Decode the encoded SQL query
decoded_sql = decode_sql(encoded_sql, ['name', 'amount'], ['users', 'orders'], [])

# Print the decoded SQL query
print(decoded_sql)

SELECT MASK_FIELD_4, MASK_FIELD_3 FROM MASK_TABLE_0 JOIN MASK_VIEW_0 ON MASK_FIELD_2 = MASK_FIELD_1 WHERE MASK_FIELD_0 = "complete"

TypeError: decode_sql() missing 3 required positional arguments: 'field_masks', 'table_masks', and 'view_masks'

In [117]:
def find_schema_table_names(sql):
    # Extract a list of unique schema and table names using regex
    schema_table_names = list(set(re.findall(r"\b\w+\b(?![^\(]*\))", sql)))
    # Return the list of schema and table names
    return schema_table_names

In [118]:
# Example SQL query
sql = 'SELECT users.name, orders.amount FROM users JOIN orders ON users.id = orders.user_id WHERE orders.status = "complete"'

find_schema_table_names(sql)

['id',
 'SELECT',
 'users',
 'complete',
 'JOIN',
 'user_id',
 'ON',
 'status',
 'amount',
 'name',
 'orders',
 'FROM',
 'WHERE']